<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Application: <%= title %></title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/partials/header.css">
    <link rel="stylesheet" href="/partials/footer.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <a href="/developers/new">Add Developer</a>
        <table>
            <thead>
                <th>ID</th>
                <th>Full Name</th>
                <th>Country</th>
                <th>Action</th>
            </thead>
            <tbody>
                <% items.map(item => { %>
                    <tr>
                        <td><%= item.id %></td>
                        <td><%= item.full_name %></td>
                        <td><%= item.country %></td>
                        <td>
                            <form action="/developers/<%= item.id %>" method="get">
                                <button type="submit">View</button>
                            </form>
                            <form action="/developers/<%= item.id %>/delete" method="post">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>