<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Application: <%= title %></title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <a href="/developers/new">Add Developer</a>
        <table>
            <thead>
                <th>ID</th>
                <th>Full Name</th>
                <th>Country</th>
                <th>Action</th>
            </thead>
            <tbody>
                <% items.map(item => { %>
                    <tr>
                        <td><%= item.id %></td>
                        <td><%= item.full_name %></td>
                        <td><%= item.country %></td>
                        <td>
                            <a href="/developers/<%= item.id %>">View</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>