<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Application: <%= title %></title>
    <link rel="stylesheet" href="./partials/header.css">
    <link rel="stylesheet" href="./partials/footer.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <ul>
            <li><strong>Full Name: </strong><%= item.full_name %></li>
            <li><strong>Country: </strong><%= item.country %></li>
        </ul>
        <a href="/developers/<%= item.id %>/edit">Edit</a>
        <a href="/developers/">All developers</a>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>