<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Application: <%= title %></title>
    <link rel="stylesheet" href="/show.css">
    <link rel="stylesheet" href="/partials/header.css">
    <link rel="stylesheet" href="/partials/footer.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <ul>
            <li><strong>Title: </strong><%= item.title %></li>
            <li><img src="<%= item.cover %>" alt="<%= item.title %>"></li>
            <li><strong>Release Year: </strong><%= item.release_year %></li>
            <li><strong>Genre(s): </strong><%= genres.map(genre => genre.title).join(', ') %></li>
            <li><strong>Developer(s): </strong><%= developers.map(developer => developer.full_name).join(', ') %></li>
        </ul>
        <div class="links">
            <form action="/games/<%= item.id %>/edit" method="get">
                <button type="submit">Edit</button>
            </form>
            <a href="/games/">All games</a>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>