<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Application: <%= title %></title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <ul>
            <li><strong>Title: </strong><%= item.title %></li>
            <li><img src="<%= item.cover %>" alt="<%= item.title %>"></li>
            <li><strong>Release Year: </strong><%= item.release_year %></li>
        </ul>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>